<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project101">

    <uses-feature
        android:name="android.hardware.camera.focus"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_1"
        android:label="CatenApp"
        android:roundIcon="@mipmap/logo_1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main5Activity"></activity>
        <activity
            android:name=".Main3Activity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Main4Activity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".Main2Activity">
            <meta-data
                android:name="com.google.mlkit.vision.DEPENDENCIES"
                android:value="ocr" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation"
            tools:ignore="LockedOrientationActivity"></activity>
    </application>

</manifest>